body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

header {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(167, 167, 167, 0.25);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.header {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
       
        
        display: flex;
        justify-content: space-around;
        align-items: center;
}

.home-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.home-links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.home-links li, a {
    text-decoration: none;
    list-style-type: none;
}

.home-links a {
    padding: 10px 10px;
    color: #5C5D5F;
    font-weight: normal;
    font-size: 14px;
    border: 4px solid transparent;
    box-sizing: border-box;

}

.home-links a:hover {
    border-bottom: 4px solid #1482E8;
    color: #1482E8;
    transition: all ease 0.6s;
}

.home-links select, option{
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(167, 167, 167, 0.25);
    color: #5C5D5F;
    border: 1px solid transparent;
    padding: 5px;
    border-radius: 20px;
}


.nomer {
    background-image: url(../images/2.call.png);
    background-repeat: no-repeat;
    background-position: left;
    position: relative;
    right: 40px;
    
}

.nomer select {
    position: relative;
    left: 30px;
    border: 1px solid transparent;
    border-radius: 10px;
}

.nomer select:hover {
    color: #1482E8;
    cursor: pointer;
    
}

.regstr a {
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(167, 167, 167, 0.25);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 144%;
    color: #004C92;
    border: 1px solid #004C92;
    border-radius: 20px;
    padding: 10px 25px;
    box-sizing: border-box;
    margin-left: 10px;

}


.regstr a:hover {
    background: linear-gradient(93.89deg, #1482E8 5.35%, #28C6DC 94.46%);
    box-shadow: 0px 16px 24px rgba(0, 167, 204, 0.2),
        0px 2px 6px rgba(0, 167, 204, 0.12),
        0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
    color: white;
    border: 1px solid transparent;
    transition: all ease 0.5s;

}



.section1 {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background: #EFF8FD;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section1-left {
    
    display: block;
    justify-content: center;
    align-items: center;
    padding: 50px 130px 50px 130px ;
    position: relative;
    bottom: 170px;
}

.section1-right {
    background: #FFFFFF;
    width: 800px;
    padding: 25px 0;
    
}

.s1-right-left {
    position: relative;
    

}

.s1-right-left, .s1-right-right b, span{
    color: #1A3555
}


.countener {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.s1-right-left h1 {
    position: relative;
    left: 40px;
    color: #1A3555;
    font-weight: 600;
    font-size: 24px;
    top: 35px;
}

.section1-left {
    margin-top: 150px;
    
    
    

    
}

.emaiil p{
    color: #1A3555;
    opacity: 0.6;
    font-weight: normal;
    font-size: 14px;
}

.eamiil {
    width: 500px;
}

.lll input{
    size: 19px 170pxpx;
   border: 1px solid transparent;
    
    color: #28C6DC;
    box-sizing: border-box;
    border-radius: 20px;
    margin-left: 10px;
    padding: 10px 50px;
    background-color: white;
    font-size: large;
    


}

.s1-right-left p{
    position: relative;
    left: 45px;
    color: #1A3555;
    font-weight: 300;
    font-size: 14px;
    top: 50px;
    box-sizing: border-box;
}

.s1-right-right {
    position: relative;
    left: 250px;
    bottom: 100px;
}

.countener img {
    position: relative;
    left: 350px;
    bottom: 150px;
}


.prin {
    margin-top: 30px;
}


.rrr button {
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(167, 167, 167, 0.25);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 144%;
    color: #004C92;
    border: 1px solid #004C92;
    border-radius: 20px;
    padding: 10px 25px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-top: 30px;

}


.rrr button:hover {
    background: linear-gradient(93.89deg, #1482E8 5.35%, #28C6DC 94.46%);
    box-shadow: 0px 16px 24px rgba(0, 167, 204, 0.2),
        0px 2px 6px rgba(0, 167, 204, 0.12),
        0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
    color: white;
    border: 1px solid transparent;
    transition: all ease 0.5s;

}







