.body {
        margin: 0;
        padding: 0;
        font-family: 'Roboto',
        sans-serif;

}


h1, h2, h3, h4, h5, h6, p {
        margin: 0;
        padding: 0;
}


header {
        width: 1440px;
        margin-left: auto;
        margin-right: auto;
}

.header {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
}


.logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
}


.mar {
        margin-left: 20px;
        border: 1px solid transparent;
        padding: 10px;
}


.home-links ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.home-links li  {
        text-decoration: none;
        list-style-type: none;
        padding: 10px;

}

.home-links a {
        text-decoration: none;
        color: #5C5D5F;
        font-weight: normal;
        font-size: 14px;
            border: 4px solid transparent;
            box-sizing: border-box;
            padding: 10px;

}

.home-links a:hover {
    border-bottom: 4px solid #1482E8;
    color: #1482E8;
    transition: all ease 0.6s;
     padding: 10px;
}

.tel {
        background-image: url(../images/2.call.png);
        background-repeat: no-repeat;
        background-position: left;
        padding-left: 20px;
}

.tel select {
        border: 1px solid transparent;
        padding: 10px;
}

.header-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
}


.header-links a {
        display: flex;
        color: #004C92;
        font-weight: 600;
        font-size: 14px;
        text-decoration: none;
        margin-left: 10px;
        padding: 10px 25px;
        border: 2px solid #004C92;
        border-radius: 20px;

}

.header-links a:hover {
        color: white;
        font-weight: 600;
        font-size: 14px;
        display: flex;
        background: linear-gradient(93.89deg, #0256B8 37.86%, #00A9F1 94.46%);
        box-shadow: 0px 16px 24px rgba(0, 167, 204, 0.2),
        0px 2px 6px rgba(0, 167, 204, 0.12),
        0px 0px 1px rgba(0, 0, 0, 0.04);
        border-radius: 40px;
        transition: all ease 0.6s;

}



.section1 {
        width: 1440px;
        height: 571px;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../images/3.backround-foto.png);

}

.countener {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 250px;

}

.countener h1 {
        color: #FFFFFF;
        font-weight: 600;
        font-size: 48px;

}


.a {
        margin-top: 50px;
        
}

.countener a {
        
        color: #004C92;
        font-weight: 600;
        font-size: 14px;
        text-decoration: none;
        margin-left: 10px;
        padding: 15px 35px;
        border: 2px solid #004C92;
        border-radius: 40px;
        

}

.countener a:hover {
        
                color: white;
                font-weight: 600;
                font-size: 14px;
                border: 2px solid #004C92;
                background: linear-gradient(93.89deg, #0256B8 37.86%, #00A9F1 94.46%);
                box-shadow: 0px 16px 24px rgba(0, 167, 204, 0.2),
                0px 2px 6px rgba(0, 167, 204, 0.12),
                0px 0px 1px rgba(0, 0, 0, 0.04);
                border-radius: 40px;
                transition: all ease 0.6s;
                box-sizing: border-box;
        

}



.section2 {
        width: 1440px;
        margin-left: auto;
        margin-right: auto;
        background: #EFF8FD;
}

.countener {
        width: 1200px; 
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
}

.section2-inner {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 280px;
        height: 461px;

}

.section2-inner img {
        width: 280px;
        height: 461px;
        object-fit: contain;

}

.section2-inner h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #EFF8FD;
        font-weight: 800;
        font-size: 24px;
}

.section2-inner p {
        display: flex;
        justify-content:center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;text-align: start;
        color: #003945;
        font-weight: normal;
        font-size: 10px;
        width: 202.39px;
        height: 89.75px;
}


.countener {
        display: block;
        
}
.section2-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.section2 {

}

.section2 {}





